.navbar{
  opacity: 0.9;
}
.dropdown-menu li a:hover  {
  background-color: #666666;
  color: white;
}
.dropdown-menu li a {
  color: white;
}
.carousel-indicators li {
  background-color: black;
  border: 1px solid black;
}
.carousel-indicators li.active {
  background-color: gray;
  border: 1px solid gray;
}
footer {
  color: gray;
  background-color: black;
}
#content.container{
  width: 100%;
}
#content.container p {
  color: #737373;
  font-size: 30px;
  padding: 40px 80px 80px 80px;
  text-align: left;
  font-family: "Lobster", serif;
}
#content.container h1{
  font-family: "Pacifico", serif;
  padding: 40px 80px 0px 80px;
  color: #737373;
}
#content2.container {
  background: #2d2d30;
  color: #bdbdbd;
  margin: auto;
  width: 100%;
}
#content2.container p {
  font-family: "Lobster", serif;
  font-size: 30px;
  padding: 40px 80px 80px 80px;
  text-align: left;
}
#content2.container h1 {
  font-family: "Pacifico", serif;
  padding: 40px 80px 0px 80px;
}
#profiles{
  margin: auto;
  padding: 80px 120px 80px 120px;
}
#profiles p{
  font-family: "Pacifico", serif;
  font-size: 30px;
}
#profiles h1{
  font-family: "Lobster", serif;

}
#profiles img{
  filter: grayscale(100%);
  vertical-align: middle;
  
}
